@import '../../../styles.scss';

.tabs {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 50px;
}
  
button {
    padding: 10px 20px;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: relative;
    font-size: 16px;
    color: #555;
}

button::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: transparent;
    transition: background 0.3s ease-in-out;
}

button.active {
    color: #000;
}

button.active::after {
    background: rgb(0, 127, 177);
}

.tab-content {
    margin-top: 10px;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-top: 100px;
}

.imgList {
    display: flex;
    flex-flow: wrap;
    gap: 10px;
    align-items: stretch;

    .col {
        width: calc((100% - 30px)/3);
        display: flex;
        flex-flow: column;
        gap: 5px;

        div {
            overflow: hidden;

            img {
                width: 100%;
                height: auto;
                cursor: pointer;
                transition: transform 0.3s;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}
// .thumbnail {
//     width: 100px;
//     cursor: pointer;
//     transition: transform 0.3s;
//   }
  
// .thumbnail:hover {
//     transform: scale(1.1);
// }