/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'PetitFormalScript';
    src: url('./assets/fonts/PetitFormalScript-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GreatVibes';
    src: url('./assets/fonts/GreatVibes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DynaPuff-Regular';
    src: url('./assets/fonts/DynaPuff-Regular.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}

h1 {
    font-size: 40px;
    font-family: 'GreatVibes';
    letter-spacing: 5px;
}



body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    background-color: #dae7f9;
    color: #42567b;

    &.third {
        background-color: #000;
        color: #fff;

        button {
            color: #fff!important;
        }
    }
}

body.new-class {
    overflow: hidden;
}


img {
    width: 100%;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

button {
    font-family: 'PetitFormalScript';
    color: #42567b!important;
}


.lb-outerContainer {
    margin-top: 55px!important;
}

.lb-dataContainer{
//    visibility: hidden;
}